# Node.js & Backend (Verhindert das Tracken von Abhängigkeiten)
node_modules/
package-lock.json
.env
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
docker-compose.override.yaml
**/__pycache__/
**/*.pyc
**/*.pyo

# Datenbank & Cache
db-data/
*.sqlite
*.sqlite3
*.db

# System- und Editor-Dateien
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
