.quantityCounter {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  .quantityCounter__btn {
    border: none;
    background-color: var(--primary-leaf-green);
    cursor: pointer;
    color: #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 700;
    transition: background-color 0.2s, transform 0.1s ease;
  }
  .quantityCounter__btn:hover {
    background-color: var(--primary-lime-green);
  }
  .quantityCounter__btn:active {
    transform: scale(0.95);
  }
  
  .quantityCounter__input {
    width: 2rem;
    border: 1px solid var(--neutral-stone-gray);
    border-radius: 3px;
    text-align: center;
    padding: 0.3rem;
    font-size: 1rem;
    -moz-appearance: textfield;
  }
  .quantityCounter__input::-webkit-outer-spin-button,
  .quantityCounter__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }