
@media (min-width: 1024px) {

.register-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
  }
  
  
  .register-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--text-charcoal);
  }
  
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  
  .register-error {
    color: #d9534f;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  
  
  .register-register {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--text-charcoal);
  }
}