:root {
    /* Primärfarben */
    --primary-leaf-green: #4CAF50;  /* Hauptakzent (Buttons, Links, etc.) */
    --primary-lime-green: #8BC34A;  /* Hover, sekundäre Akzente */

    /* Sekundär-/Neutralfarben */
    --neutral-off-white: #F7F7F7;   /* Hintergrund, Container */
    --neutral-stone-gray: #AAAAAA;  /* Ränder, sekundärer Text */

    /* Highlight-Farbe */
    --highlight-orange: #FF9800;    /* Warnungen, Aktionen (Sale) */

    /* Textfarbe */
    --text-charcoal: #333333;       /* Haupttextfarbe */

    /* FONT */
    --text-font: 'Trebuchet MS', sans-serif;
}