:root {
    
    --primary-leaf-green: #4CAF50;  
    --primary-lime-green: #8BC34A;  

    
    --neutral-off-white: #F7F7F7;   
    --neutral-stone-gray: #AAAAAA;  

    
    --highlight-orange: #FF9800;    

    
    --text-charcoal: #333333;       

    
    --text-font: 'Trebuchet MS', sans-serif;
}