/* Home.css */
@media (min-width: 1024px) {
.home {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background-color: #f8f8f8; /* Dezenter Hintergrund, der nicht zu stark sticht */
  }
} 
@media (max-width: 480px) {
  .home {
    width: 100%;
    background-color: #f8f8f8; /* Dezenter Hintergrund, der nicht zu stark sticht */
  }
}
  .home__section {
    margin-bottom: 3rem;
  }
  
  /* Überschrift Styling für jede Section */
  .home__heading {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-leaf-green);
    margin-bottom: 1.5rem;
    position: relative;
    letter-spacing: 1px;
  }
  
  /* Optional: Unterstreichung der Überschrift */
  .home__heading::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--primary-lime-green);
    margin: 0.5rem auto 0;
    border-radius: 2px;
  }
  